* {
    text-aling: right;
    color: black;
    font-family: Sahadeva, sans-serif;
}

h1 {
    text-align: center;
    color: black;
    font-family: Sahadeva, sans-serif;
}

img {
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.image-sherbrooke {

}
.image-moodle {
    max-width:100px;
    max-height:100px;
}

.banderole {
    background-color: #00a556;
    max-height: 150px;
    min-height: 150px;
    margin-bottom: 25px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.row:after {
    display: table;
}

.col-1 {
    min-width: 10%;
}
.col-2 {
    width: 60%;
}
.col-3 {
    width: 30%;
}