* {
    text-aling: right;
    color: black;
    font-family: Sahadeva, sans-serif;
}

h1 {
    text-align: center;
    color: black;
    font-family: Sahadeva, sans-serif;
}

img {
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.image-logo-site {
    max-width: 450px;
    min-height:150px;
}

.image-sherbrooke {

}

.image-moodle {
    margin: 20px;
    max-width:100px;
    max-height:100px;
}

.banderole {
    background-color: #00a556;
    max-height: 150px;
    min-height: 150px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0px;
}

.col-container {
    height: 100%
}

.col-1 {
    background-color: lightgray;
    float: left;
    width: 10%;
    height: 100%;
}
.col-2 {
    float: left;
    width: 60%;
    height: 100%;
}
.col-3 {
    background-color: lightgray;
    float: left;
    width: 30%;
    height: 100%;
}

@media only screen and (max-width: 760px) {
    [class*="col-"] {
        border-bottom-style: solid;
        border-bottom-width: medium;
        width: 100%;
    }
}